.idea
__pycache__
.vscode/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
IP-modules/
node_modules/





# End of https://www.toptal.com/developers/gitignore/api/pycharm,visualstudiocode,python